<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>feedbackform
	</display-name>
	<servlet>
		<description>
		</description>
		<display-name>studentlogin
		</display-name>
		<servlet-name>studentlogin</servlet-name>
		<servlet-class>studentlogin
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentFeedBack
		</display-name>
		<servlet-name>StudentFeedBack</servlet-name>
		<servlet-class>StudentFeedBack
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>teacherreport1
		</display-name>
		<servlet-name>teacherreport1</servlet-name>
		<servlet-class>teacherreport1
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>allteacherreport
		</display-name>
		<servlet-name>allteacherreport</servlet-name>
		<servlet-class>allteacherreport
		</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>addTeacherInformation</display-name>
		<servlet-name>addTeacherInformation</servlet-name>
		<servlet-class>addTeacherInformation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>getInfo</display-name>
		<servlet-name>getInfo</servlet-name>
		<servlet-class>getInfo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>giveFeedback</display-name>
		<servlet-name>giveFeedback</servlet-name>
		<servlet-class>giveFeedback</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GenerateReport</display-name>
		<servlet-name>GenerateReport</servlet-name>
		<servlet-class>GenerateReport</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>studentlogin</servlet-name>
		<url-pattern>/studentlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentFeedBack</servlet-name>
		<url-pattern>/StudentFeedBack</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>teacherreport1</servlet-name>
		<url-pattern>/teacherreport1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>allteacherreport</servlet-name>
		<url-pattern>/allteacherreport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addTeacherInformation</servlet-name>
		<url-pattern>/addteacherInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addTeacherInformation</servlet-name>
		<url-pattern>/addteacherInfo/getDepartment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addTeacherInformation</servlet-name>
		<url-pattern>/addteacherInfo/getInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addTeacherInformation</servlet-name>
		<url-pattern>/addteacherInfo/getSubject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getInfo</servlet-name>
		<url-pattern>/getInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>giveFeedback</servlet-name>
		<url-pattern>/giveFeedback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>giveFeedback</servlet-name>
		<url-pattern>/giveFeedback/getDepartment</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>giveFeedback</servlet-name>
		<url-pattern>/giveFeedback/getYear</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>giveFeedback</servlet-name>
		<url-pattern>/giveFeedback/getSection</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>giveFeedback</servlet-name>
		<url-pattern>/giveFeedback/getTeacher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>giveFeedback</servlet-name>
		<url-pattern>/giveFeedback/getTeachers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>giveFeedback</servlet-name>
		<url-pattern>/giveFeedback/getSem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>giveFeedback</servlet-name>
		<url-pattern>/giveFeedback/getSubject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>giveFeedback</servlet-name>
		<url-pattern>/giveFeedback/getAllDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenerateReport</servlet-name>
		<url-pattern>/GenerateReport</url-pattern>
	</servlet-mapping>
        <welcome-file-list>
		<welcome-file>home.html</welcome-file>
	</welcome-file-list>
</web-app>
